<!DOCTYPE html>
<html>
<head>
  <title>Resthook</title>
  <%= stylesheet_link_tag    "resthook/application", media: "all" %>
  <%= javascript_include_tag "resthook/application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
